{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" type = "text/css" href = "{% static 'css/home.css' %}">
    <title>0621 Session</title>
</head>
<body>
    <img class = "bg" src = "{% static 'image/nightsky.png' %}">
    <h1>저를 소개합니다</h1>
    <div class = "content">
        오늘은 1학기 마지막 세션~<br>
        오늘은 복습 세션!<br>
        뒤풀이가 기대가 됩니다.
    </div>

</body>
</html>